<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，这里指的是封装的DAO -->
<mapper namespace="com.ssm.demo.dao.AdministratorDao">
    <!-- resultMap -->
    <resultMap id="Administrator" type="com.ssm.demo.entity.Administrator">
        <result column="userName" property="userName"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="verifyRange" property="verifyRange"/>
    </resultMap>

    <!--  administratorInfo是管理员信息表的名字 -->

    <!-- sql语句的实现 -->
    <!--对userInfo表格的操作-->
    <insert id="createNewAdministrator" parameterType="Administrator">
        INSERT INTO Administrator ( userName, nickname, password, verifyRange )
        VALUES
	(#{userName}, #{nickname}, #{password}, #{verifyRange})
    </insert>
    <delete id="deleteAdministrator" parameterType="String">
        DELETE 
        FROM
                Administrator 
        WHERE
                userName = #{userName}
    </delete>
    <select id="getAdministrator" resultMap="AdministratorInfo" parameterType="String">
        select * from Administrator where userName = #{userName}
    </select>

    <select id="getVerifyRange" resultType="String" parameterType="String">
       SELECT
	* 
        FROM
                Administrator 
        WHERE
                userName = #{userName}
   </select>

    <select id="loginCheck" resultType="String" parameterType="String">
        SELECT PASSWORD 
        FROM
                Administrator 
        WHERE
                userName = #{userName}
   </select>

    <update id="changePassword" parameterType="Map">
        UPDATE Administrator 
        SET PASSWORD = #{password} where userName = #{userName}
    </update>

    <update id="changeNickname" parameterType="Map">
        UPDATE Administrator 
        SET nickname = #{nickname} where userName = #{userName}
    </update>

    <update id="changeVerifyRange" parameterType="Map">
        UPDATE Administrator 
        SET verifyRange = #{range} where userName = #{userName}
    </update>
</mapper>
